body {
  background-image: url("/images/pattern-background-desktop.svg");
  /* background-size: 1440px; */
  /* background-repeat: repeat-x; */
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

.mainContainer {
  width: 450px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
/*   margin: 50%;
  margin-top: 10%; */
  margin: 15vh auto;
}

#back {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.text {
  color: rgb(149, 147, 147);
  width: 300px;
  margin: 20px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 30px;
}

.charge {
    display: flex;
    margin: 0 15%;
    color: white;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
}

.audio {
  width: 40px;
  height: 40px;
}

.annual {
    margin-left: 5px;
    color: hsl(224, 23%, 55%);    
    text-align: left;
}

.titlePlan{
  color: black;
  font-weight: bold;
}

.change {
  right: 0;
  margin-left: 80px;
  
  
}
#change{
    text-decoration-line: none;
    color: black;
  }

#change:hover{
    color: hsl(223, 47%, 23%); 
}

.proceed {
  width: 292px;
  height: 60px;
  margin: 20px;
  text-align: center;
  background: hsl(245, 75%, 52%);
  box-shadow: 5px 13px 20px 0px rgba(0,0,0,0.25);
  border-radius: 10px;
  color: white;
}

.proceed:hover{
    background-color: hsl(223, 47%, 23%);
}

.cancel{
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration-line: none;
}

.cancel:hover{
    color: grey;
}

@media (max-width: 375px) {
  body{
      background-image: url("/images/pattern-background-mobile.svg");

  }
  .mainContainer .change .proceed #back{
    width: 90%;
    margin: 5vh auto;
  }
  
}