body {
  background-image: url("/images/pattern-background-desktop.svg");
  background-size: 1440px;
  background-repeat: repeat-x;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  width: 1440px;
}

.mainContainer {
  width: 450px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50%;
  margin-top: 10%;
}

#back {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.text {
  color: rgb(149, 147, 147);
  width: 300px;
  margin: 20px;
  text-align: center;
  line-height: 24px;
}

.charge {
  width: 360px;
  height: 100px;
  margin: 20px;
  background-color: hsl(225, 100%, 94%);
  border-radius: 20px;
  align-items: center;
  display: flex;
}

.audio {
  padding: 10px;
}

.annual {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#annual {
  margin-bottom: 1px;
}

#price {
  color: rgb(149, 147, 147);
  margin-top: 1px;
}

.change {
  padding-left: 110px;
}
#change{
    text-decoration-line: none;
}

#change:hover{
    color: hsl(223, 47%, 23%); 
}

.proceed {
  width: 360px;
  height: 60px;
  margin: 20px;
  text-align: center;
  background: hsl(245, 75%, 52%);
  box-shadow: 5px 13px 20px 0px rgba(0,0,0,0.25);
  border-radius: 30px;
  color: white;
}

.proceed:hover{
    background-color: hsl(223, 47%, 23%);
}

.cancel{
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration-line: none;
}

.cancel:hover{
    color: grey;
}